asgiref==3.9.1
crispy-bootstrap5==2025.6
diff-match-patch==20241021
Django==5.2.5
django-allauth==65.11.1
django-crispy-forms==2.4
django-filter==25.1
django-guardian==3.0.6
django-import-export==4.3.9
pillow==11.3.0
sqlparse==0.5.3
tablib==3.8.0
