.footer {
    background: linear-gradient(180deg, #f8f9fa 0%, #e9ecef 100%);
    color: black;
    padding: 2rem 0;
    margin-top: auto;
    position: relative;
    bottom: 0;
    left: 16.666667%;
    width: calc(100% - 16.666667%);
    z-index: 1050;
}
